/* Общие настройки */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #ed5353;
    text-align: center;
}

/* Стили для контейнера */
.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Стили для списка постов */
ul.post-list {
    list-style-type: none;
    padding: 0;
}

ul.post-list li {
    padding: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

ul.post-list li a {
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

ul.post-list li a:hover {
    color: #0056b3;
}

.small-text {
    font-size: 0.9em;
    color: #777;
}

/* Стили для отдельного поста */
.post-detail {
    padding: 20px;
}

.post-detail h1 {
    font-size: 2em;
    color: #0056b3;
}

.post-detail p {
    line-height: 1.6;
    font-size: 1.1em;
}

/* Стили для формы */
form {
    display: flex;
    flex-direction: column;
    max-width: 100px;
    margin: 0 auto;
}

form label {
    font-weight: bold;
    margin: 10px 0 5px;
}

form input[type="text"],
form textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
}

form button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5d0db3;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

form button:hover {
    background-color: #003f8a;
}

/* Стили для заголовка и подвала */
header, footer {
    background-color: #0056b3;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer p {
    font-size: 0.9em;
}

/* Стили для поля выбора категорий */
select[multiple], select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: #333;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    appearance: none; /* Убирает стандартные стрелки на разных платформах */
}

/* Стили для текста внутри поля */
select[multiple] option, select option {
    padding: 8px;
}

/* Стили для выбора элемента */
select[multiple]:focus, select:focus {
    outline: none;
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 86, 179, 0.5);
}

/* Дополнительные стили для более компактного вида */
select[multiple] option:checked {
    background-color: #0056b3;
    color: #fff;
}

